/* ======================================
CSS RESETS
====================================== */

html {
    box-sizing: border-box;
    font-size: 85.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* ============================================
THE REST OF THE WORK
============================================ */

.infobox {
    border: 1px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2.5rem;
    padding: 15px 5px;
    margin: 6vh 5%;
}

.boldline {
    text-underline-position: under;
    text-decoration-line: underline;
}

.underline {
    text-underline-position: under;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.rightcolumn {
    padding-left: 100px;
}

.title {
    padding: 5px 30px;
    color: rgb(126, 24, 24);
}

.center-text {
    text-align: center;
}

.summary-box {
    margin: 1vh 24vw;
}

.wholeessay {
    margin: 1vh 10%;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1;
}

.topnav {
    font-size: 1.1rem;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(126, 24, 24);
    color: white;
}

.topnav input {
    font-size: 1.2rem;
    border: 0px;
    margin: 2px 30px;
    float: right;
    border-radius: 12px;
}

.topnav a {
    padding: 10px;
}

p {
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p.essay {
    text-indent: 50px;
    line-height: 2;
}

p.top-text {
    margin: 11px;
}

.line {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    width: 100%;
}

.space {
    margin-bottom: 10px;
}

footer {
    padding-top: 200px;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(126, 24, 24);
    color: rgb(126, 24, 24);
    text-align: center;
}